# Firebase config
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_DATABASE_URL=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_MEASUREMENT_ID=

# Google Maps API
REACT_APP_GOOGLE_MAPS_API_KEY=

# Firebase Cloud Messaging (FCM)
REACT_APP_FCM_API_KEY=

# Google API (Browser Key)
REACT_APP_GOOGLE_BROWSER_API_KEY=